dist
dist-*
/coverage
/build
.DS_Store
*.log
*.swp
*.un
madlib_modules
.tests
.run
.repl
.snapshots/*/actual
/runtime/build
/runtime/lib
/runtime/share
/runtime/include
/runtime/bin
/node_modules
package-lock.json
.coverage
fixtures
.tmp_modules
.module_cache
.docs
.vscode
.buildlibs
logs.*.txt
logs.txt
example.c
